html{
    scroll-behavior: smooth;
}

body{
    font-family: Raleway, sans-serif;
    margin: 0 auto;
    font-size: 18px;
}

.flex-nav a{
    color: rgb(20, 19, 19);
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: white;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    background: rgb(255, 214, 0);
    
    
}

.flex-nav a:hover{
    background: rgb(255, 214, 0, 0.7);
}

.nav-wrapper{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;

}



.flex-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.flex-nav li{
   flex: 3;
   
}

header{
    background-image: url('img/header1.jpg');
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1000px;
    height: 400px;
    margin: 0px auto 50px auto;
    position: relative;
}

h1{
    font-family: Raleway;
    color: rgb(243, 233, 233);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-shadow: 1px 1px grey;
   
}

header h1{
    position: absolute;
    left: 40px;

}

footer{
    max-width: 1000px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: grey;
    font-size: 0.75em;
    margin-top: 20px;

}

.wrapper{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.box{
    margin: auto;
}

.box1{
    width: 100%;
}


.help{
    text-align: center;
    font-weight: normal;
    word-spacing: 0.1em;
}

button{
    border-radius: 15px;
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    border: 1px solid rgb(255, 174, 0);
    font-weight: bold;
    color: white;
    display: inline-block;
    outline: none;
}

.button{
    text-align: center;
}

.contact{
    transition: all 0.5s;
    margin-right: 25px;
    padding: 17px 27px;
}

.cv{
    transition: all 0.5s;
    margin-left: 25px;
    padding: 17px 27px;
}

.cv:hover, .contact:hover{
    cursor: pointer;
    background: white;
    border: 1px solid rgb(255, 174, 0);
    color: rgb(255, 174, 0);
}

.box2{
    width: 300px;
    flex: 33,3%;
    height: 200px;
    border-right: 3px dotted rgb(255, 174, 0);
    box-sizing: border-box;
    position: relative;
    background: #FAF9F9;
}

.box3{
    width: 700px;
    flex: 66,6%;
    height: 200px;
    line-height: 172.35%;
    box-sizing: border-box;
    position: relative; 
    background: #FAF9F9;
}

.me
{
    position: absolute;
    color: rgb(255, 174, 0);
    top: 20px;
    left: 20px;
}

.box4{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    position: relative;
    border-right: 3px dotted rgb(255, 174, 0);
}

.box5{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    position: relative;
    border-right: 3px dotted rgb(255, 174, 0);
}

.box6{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    position: relative;
}

.iconskills
{
    width: 128px;
    height: 128px;
    position: absolute;
    left: 70px;
    top: 10px;
}

.pskills{
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: rgb(255, 174, 0);
    font-weight: bold;
    font-size: 1.25em;
}

.projects{
    z-index: 2;
    position: absolute;
    left: 20px;
    color: white;
    text-shadow: 1px 1px grey;
}

.projects h4{
    font-size: 1.4em;
    margin-bottom: 0;
}

.projects p{
    font-size: 0.8em;
    margin-top: 5px;
}

.view{
    padding: 10px 23px;
    transition: all 0.5s;
    opacity: 0.9;
    border-radius: 25px;
}

.view:hover{
    cursor: pointer;
    border: 1px solid rgb(255, 174, 0);
    border-radius: 25px;
    opacity: 1;
}

.box7{
    width: 333px;
    height: 230px;
    box-sizing: border-box;
    position: relative;
}

.box8{
    width: 333px;
    height: 230px;
    box-sizing: border-box;
}


.box9{
    width: 333px;
    height: 230px;
    box-sizing: border-box;
}

.box10{
    width: 333px;
    height: 230px;
    box-sizing: border-box;
}

.box11{
    width: 333px;
    height: 230px;
    box-sizing: border-box;
}

.box12{
    width: 333px;
    height: 230px;
    box-sizing: border-box;
}

.box13{
   width: 400px;
   height: 450px;
   box-sizing: border-box;
   background: rgb(255, 174, 0);
   border-radius: 60px;
   position: relative;
}

.box14{
    width: 600px;
    height: 450px;
    box-sizing: border-box;
    margin-top: 20px;
    position: relative;
 }

.aboutme{
    color: black;
    font-family: Raleway;
    font-weight: bold;
    line-height: 160.86%;
}

img{
    width: 100%;
    height: 100%;
}

img:hover:not(.nothover){
    opacity: 0.8;
}


h3{
    padding-left: 20px;
}

input{
    padding: 10px, 0;
    margin-left: 20px;
    width: 80%;
    height: 30px;
    border-radius: 15px;
    background: #FAFAFF;
    border: 0.5px outset;
    text-indent: 15px;
}

input[type=text]:focus{
    border: 2px solid rgb(255, 214, 0);
    outline: none;
}

input[type="submit"]{
    width: 20%;
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    position: absolute;
    bottom: 20px;
    right: 80px;
    border: 1px solid rgb(255, 174, 0);
    color: white;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    text-indent: 1px;
    outline: none;
}

input[type="submit"]:hover{
    background: white;
    border: 1px solid rgb(255, 174, 0);
    color: rgb(255, 174, 0);
}

textarea{
    margin-left: 20px;
    left: 20px;
    width: 80%;
    height: 80px;
    border-radius: 15px;
    text-indent: 15px;
}

textarea:focus{
    border: 2px solid rgb(255, 214, 0);
    outline: none;

}

.boxa{
    width: 1000px;
    height: 50px;
    padding: 20px 0px 20px 50px;
  
}
.description{
    position: absolute;
    color: white;
    line-height: 150%;
    font-size: 1.1em;
    left: 40px;
    top: 20px;
}

.adres{
    left: 40px;
    bottom: 40px;
    color: white;
    line-height: 150%;
    font-size: 1.1em;
    position: absolute;

}

.social{
    left: 40px;
    bottom: 200px;
    word-spacing: 30px;
    font-size: 1.2em;
    position: absolute;
    display: inline-block;
}

.icon{
    color: white;
}

.fa:hover
{
    opacity: 0.8;
}


@media all and (max-width: 1100px){
    .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12{
    flex-basis: 33%;
    }

    .box13{
        flex: 40%;
    }

    .box14{
        flex: 60%;
    }

}


@media all and (max-width: 800px){
    .flex-nav ul{
        flex-wrap: wrap;
    }

    .flex-nav li{
        flex: 1 1 50%;
    }

    .box7, .box8, .box9, .box10, .box11, .box12{
        flex-basis: 50%;
    }

    .box4, .box5, .box6{
        flex: 33%;
        border: none;
    }

}



@media all and (max-width: 600px){
    .box13, .box14{
        flex: 100%
    }
    .box4, .box5, .box6{
        flex: 100%;
        border: none;
}



@media all and (max-width: 500px){
    .flex-nav li{
        flex-basis: 100%;
    }

    .box{
        flex-basis: 100%;
    }

    .box2, .box4, .box5{
        border: none;
    }

}